.qlsp-container {
    max-width: 1000px;
    margin: auto;
    font-family: Arial;
}

.qlsp-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #ddd;
}

.qlsp-btn {
    padding: 10px 15px;
    border-radius:5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.qlsp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qlsp-btn-add {
    background: black;
    color: white;
    display: inline-block;
}

.qlsp-btn-edit {
    color: black;
}

.qlsp-btn-delete {
    color: red;
}

.qlsp-input,
.qlsp-textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.qlsp-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.qlsp-table th,
.qlsp-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.qlsp-table th {
    background: #fafafa;
    text-align: left;
}

.qlsp-table tr:hover {
    background: #f1f1f1;
}