/* ===== THANH TRÊN ===== */
.SP_ThanhSP {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
}

/* ===== SẮP XẾP ===== */
.SP_SapXep {
	position: relative;
}

.SP_SapXepNut {
	padding: 10px 15px;
	border-radius: 8px;
	border: 1px solid #ccc;
	background: white;
	cursor: pointer;
}

.SP_SapXepMenu {
	position: absolute;
	top: 110%;
	right: 0;
	background: white;
	border: 1px solid #ccc;
	border-radius: 8px;
	display: none;
	width: 180px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.SP_SapXepMenu li {
	list-style: none;
	padding: 10px;
	cursor: pointer;
}

.SP_SapXepMenu li:hover {
	background: #eee;
}

.SP_DanhSachSanPham {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	padding: 40px;
}
/* ================= PRODUCT ================= */

.SP_DanhMuc {
	border-radius: 10px;
	border: 1px solid rgb(255, 255, 255);
	background: white;
	margin: 20px;
	padding: 20px 5%;
	overflow: hidden;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.SP_DanhMuc .SP_TenDanhMuc {
	margin-bottom: 20px;
}

/* ================= KHUNG SẢN PHẨM ================= */

.SP_SanPham {
	background: white;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	position: relative;
}

/* ================= HÌNH ẢNH ================= */

.SP_HinhAnh {
	text-align: center;
	margin-bottom: 10px;
}

.SP_HinhAnh img {
	width: 200px;
	height: 200px;
}

/* ================= TÊN SẢN PHẨM ================= */

.SP_TenSanPham {
	font-size: 18px;
	color: #333;
	margin-bottom: 10px;
	line-height: 1.4;
}

/* ================= THÔNG SỐ ================= */

.SP_ThongSo {
	background: #f1f1f1;
	padding: 10px;
	border-radius: 6px;
	font-size: 14px;
	color: #555;
	margin-bottom: 10px;
}

.SP_ThongSo div {
	margin: 4px 0;
}

/* ================= GIÁ CŨ ================= */

.SP_GiaCu {
	text-decoration: line-through;
	color: #888;
	font-size: 14px;
	margin-bottom: 5px;
}

/* ================= GIÁ MỚI ================= */

.SP_Gia {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 8px;
}

.SP_GiaMoi {
	color: #e60012;
	font-size: 22px;
	font-weight: bold;
}

.SP_GiamGia {
	border: 1px solid red;
	color: red;
	padding: 2px 6px;
	font-size: 13px;
	border-radius: 4px;
}

/* ================= ĐÁNH GIÁ ================= */

.SP_DanhGia {
	font-size: 14px;
	color: #777;
}

.SP_Sao {
	color: orange;
	font-size: 16px;
}

.SP_NhanXet {
	color: #888;
	margin-left: 5px;
}
.SP_SanPham:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
/* ======nút====== */
.SP_SanPham button {
	width: 100%;
	border: 0px;
	color: white;
	background-color: red;
	padding: 10px;
	border-radius: 5px;
}

/* đặc biệt */
@media (max-width: 1024px) {
	.SP.SP_DanhSachSanPham {
		grid-template-columns: repeat(2, 1fr);
	}

	.TC_blogList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.SP_DanhSachSanPham {
		grid-template-columns: 1fr;
	}

	.TC_blogList {
		grid-template-columns: 1fr;
	}
}
